<div style="background-color: lightgreen;">
         <p><%=comment.user.name%></p>
         <br>
         <br>
         <p>Your Comment <br> <strong><%=comment.content%></strong></p>
         <br>
         <br>
         <p>Thanks!!!!</p>

</div>