* {
  margin: 0px;
  padding: 0px; }

.nav {
  font-size: 30px;
  text-align: center;
  display: inline-flex;
  list-style: none;
  text-decoration: none;
  margin: auto; }

.nav li {
  margin-left: 20px;
  color: white; }

.nav li a {
  color: white; }

body {
  height: 100vh;
  width: 100vw; }

#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
  #home-container .pro {
    font-size: 50px; }
  #home-container #user-friends {
    width: 30%;
    padding: 10px;
    border-left: 1px solid #e41919;
    height: 100%; }
  #home-container #sign {
    font-size: 30px;
    color: greenyellow; }
